APP_NAME=adminafk.fr Git
RUN_MODE=prod
USER_UID=1000
USER_GID=1000
DB_TYPE=postgres
DB_HOST=git_db:5432
DB_NAME=gitea
DB_USER=gitea
DB_PASSWD=
DISABLE_REGISTRATION=true
SSH_DOMAIN=git.adminafk.fr
ROOT_URL=https://git.adminafk.fr/