INFLUXDB_URL=http://influxdb:8086
INFLUXDB_DATABASE=tplinksmartplug
INFLUXDB_USERNAME=tplinksmartplug
INFLUXDB_PASSWORD=
DELAY=30
NB_SMARTPLUG=3
SMARTPLUG_1=192.168.40.101
SMARTPLUG_2=192.168.40.102
SMARTPLUG_3=192.168.40.103