apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: Proxmox
    orgId: 1
  - name: Unifi
    orgId: 1

datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus:9090
  isDefault: true
  version: 1
  editable: true

- name: Proxmox
  type: influxdb
  access: proxy
  database: proxmox
  user: grafana
  password: 
  url: http://influxdb:8086
  jsonData:
    httpMode: GET

- name: Unifi
  type: influxdb
  access: proxy
  database: unifi
  user: grafana
  password: 
  url: http://influxdb:8086
  jsonData:
    httpMode: GET

- name: Tplinksmartplug
  type: influxdb
  access: proxy
  database: tplinksmartplug
  user: tplinksmartplug
  password: 
  url: http://influxdb:8086
  jsonData:
    httpMode: GET