AUTOCONF=postgres
PGSQL_HOST=pdns-postgresql
PGSQL_PORT=5432
PGSQL_DB=powerdns
PGSQL_USER=powerdns
PGSQL_PASS=
PGSQL_DNSSEC=yes
PDNS_API=yes
PDNS_API_KEY=
PDNS_WEBSERVER_ADDRESS=0.0.0.0
PDNS_WEBSERVER_PORT=80
PDNS_WEBSERVER_ALLOW_FROM=0.0.0.0/0
PDNS_SOA_REFRESH_DEFAULT=14400