PDA_DB_NAME=powerdnsadmin
PDA_DB_USER=powerdnsadmin
PDA_DB_PASSWORD=
PDA_DB_TYPE=postgresql
PDA_DB_HOST=powerdns-admin-postgresql
PDA_DB_PORT=5432
BIND_ADDRESS=0.0.0.0
PORT=80
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_FIRSTNAME=Ludovic
ADMIN_LASTNAME=Ortega
ADMIN_EMAIL=mastership@hotmail.fr
PDNS_PROTO=http
PDNS_HOST=pdns-server
PDNS_PORT=80
PDNS_API_URL=http://pdns-server:80/api/v1
PDNS_API_KEY=
SIGNUP_ENABLED=False