POSTGRES_DB=restyaboard
POSTGRES_HOST=restyaboard_db
POSTGRES_PASSWORD=
POSTGRES_USER=admin
SMTP_DOMAIN=adminafk.fr
SMTP_USERNAME=board@adminafk.fr
SMTP_PASSWORD=
SMTP_SERVER=adminafk.fr
SMTP_PORT=587
TZ=Etc/UTC